.DS_Store

/.XcodeSupport

/projects.sqlite3

*.pyc

/projectmanager/static/ProjectManager/.XcodeSupport

/projectmanager/static/ProjectManager/Frameworks/AppKit

/projectmanager/static/ProjectManager/Frameworks/Debug

/projectmanager/static/ProjectManager/Frameworks/Foundation

/projectmanager/static/ProjectManager/Frameworks/Objective-J

/projectmanager/static/ProjectManager/Frameworks/Ratatosk

/projectmanager/static/ProjectManager/ProjectManager.xcodeproj

*.cib
